<div class="container">
      <%= render :partial => 'ads/ads_e' %>
          <div class="col-xs-6 col-md-6">
           
           <h2>Registrar-se</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characteres mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
  </div>
<!-- in users/_form.html.erb -->
  <div class="field">
     <h3>Escolha seu Tipo de conta</h3>
      <% for role in User::ROLES %>
        <% if role == "applicant" %>
          <%= radio_button_tag "user[roles][#{role}]", role, checked = true, {:name => "user[roles][]"}%>
          <h3><%= f.label :cliente %><br /><%# label_tag "Cliente", role.humanize %></h3>
        <% end %>
        <% if role == "customer" %>
          <%= radio_button_tag "user[roles][#{role}]", role, checked = false, {:name => "user[roles][]"}%>
        <h3><%= f.label :empresa %><br /><%# label_tag "user_roles_#{role}", role.humanize %></h3>
        <% end %>
        <%= hidden_field_tag "user[roles][]", "" %>
      <% end %>
  </div>
  <!--div tipo usuario -->

  
  <div class="actions">
    <%= f.submit "Registrar-se", :class => 'btn btn-primary', :id => 'commit', :onClick =>'disableBtn()', :disabled => 'true' %>
  </div>
<% end %>

  <div class="field">
    <%# f.check_box_tag :ck_permissao, "sim", :id => 'myBtn', :value => 'My Button'  %>
     <%# f.button_tag :eu_li_e_concordo_com_o, "sim", :onClick =>'disableBtn()'%>
      <%# f.button_tag :eu_nao_concordo_com_o, "sim", :onClick =>'undisableBtn()'%>
      <%= link_to "Termos e Política de Privacidade", termos_de_servico_path, :class => 'link_a'%>
      <button onclick="disableBtn()" id="disable" class="btn btn-success btn-sm">Eu li e concordo</button>
      <button onclick="undisableBtn()" id="undisable" class="btn btn-danger btn-sm" disabled="false">Eu não concordo</button>
    <%# label_tag :eu_li_e_concordo_com_o %><br />
    
  </div>

    <script type="text/javascript">
          function disableBtn() {
            document.getElementById("commit").disabled = false;
            document.getElementById("disable").disabled = true;
            document.getElementById("undisable").disabled = false;
            document.getElementById("myCheck").checked = false;
        }

          function undisableBtn() {
            document.getElementById("commit").disabled = true;
            document.getElementById("disable").disabled = false;
            document.getElementById("undisable").disabled = true;
            document.getElementById("myCheck").checked = true;
        }
    </script>

<%= render "devise/shared/links" %>
              </div>
                    <%= render :partial => 'ads/ads_d' %>
         </div>

